<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/build/app.css">
</head>
<body>
    <div class="l-container">
        <header class="c-header">
            <a class="c-logo" href="/"></a>
            <div class="c-nav__hamburger-menu js-hamburger-menu" aria-label="Menu button" title="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        {% include navigation.html %}
