$body-padding: 2.5rem;

$blue: #3D5A80;
$gold: #F4D03F;
$white: #FFF;

$text-xxlarge: 4.8rem;
$text-xlarge: 3.6rem;
$text-large: 2.4rem;
$text-regular: 1.6rem;
$text-small: 1.2rem;

$serif-font: 'Frank Ruhl Libre', serif;
$sans-font: 'Karla', sans-serif;

$lightgrey: #e8e8e8;
